<h1>{{title}}</h1>


<div id="loginForm">
<form action="/login" method="POST" id="form">


<div class="login_divs">
  <label for="username" > </label>
  <input type="text" name="username" placeholder="Username">
</div>

<div class="login_divs">
  <label for="password"> </label>
  <input type="password" name="password" placeholder="Password">
</div>

  <button id="signInButton">Sign in</button>

  <p class="account-message">
    <div class="signUpNow" > Don't have an account? </div> <a href="/signup"><span> Sign up</span></a>
  </p>
</form>
</div>
