body {
  margin-top: 100px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/stars.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

a {
  text-decoration: none; }

#loginForm {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  border: 2px solid yellow;
  border-radius: 10px;
  padding: 20px 40px;
  width: 600px;
  margin: auto; }

.account-message {
  margin-top: 40px; }

.createPost {
  display: flex;
  justify-content: center;
  background-color: red;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  width: 200px; }

#feed {
  width: 350px;
  font-size: 1.5em; }

a span {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 10px; }

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0; }

.proPic {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(177, 37, 37, 0.24);
  width: 200px;
  align-items: center; }

.updateFormatPic {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin-top: 210px;
  font-size: 1.2em; }

#deletePostButton {
  margin-top: 7px;
  display: flex;
  justify-content: space-around;
  background-color: red;
  border: none;
  color: white;
  padding: 4px 6px 2px 6px; }

#deletePostButton:hover {
  cursor: pointer; }

.editPostButton:hover {
  cursor: pointer; }

.deleteButton:hover {
  display: block; }

.thisPic {
  width: 550px; }

.titleButton {
  text-decoration: none;
  color: black;
  font-size: 3em;
  color: red; }

h1 a {
  color: red;
  font-size: 2em; }

.logoutAbsolute {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 5px 10px; }

.logoutAbsolute button {
  padding: 10px 20px;
  border: none;
  margin-left: 10px;
  background-color: red;
  color: white;
  font-weight: 900;
  border-radius: 10px; }

.logoutAbsolute button:hover {
  cursor: pointer; }

.deleteUser {
  position: fixed;
  bottom: 0;
  margin-left: 80px;
  width: 100%;
  box-shadow: 5px 10px; }

.deleteUser button {
  padding: 10px 20px;
  border: none;
  margin-left: 10px;
  background-color: red;
  color: white;
  font-weight: 900;
  border-radius: 10px; }

.deleteUser button:hover {
  cursor: pointer; }

.tinyFont {
  font-size: 2px; }

.alignPost {
  display: flex;
  justify-content: center; }

#changePic {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px; }

.createPostPretty {
  border: none;
  color: white;
  background-color: red;
  font-size: 1.5em;
  width: 150px; }

.createPostPretty:hover {
  cursor: pointer; }

.customLayout {
  background-color: rgba(78, 74, 74, 0.596);
  display: flex;
  margin: auto;
  font-size: 24px;
  width: 500px;
  height: auto;
  justify-content: space-between; }

.updateUser {
  position: absolute;
  bottom: 0px;
  margin-left: 80vw; }

.updateUser button {
  padding: 10px 20px;
  border: none;
  margin-left: 10px;
  background-color: red;
  color: white;
  font-weight: 900;
  border-radius: 10px; }

.updateUser button:hover {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */